<h1>Home#main</h1>
<p>Find me in app/views/home/main.html.erb</p>


<% if user_signed_in? %>
    <button>
        <%= link_to "my Diary", diaries_path %>
    </button>
    <button>
        <%= link_to "Reading Records", reading_records_path %>
    </button>
    <br>
    
    <!-- calendar -->
    <div class="sections container border-area">
        <div class="calendar container border-area">
            <%= month_calendar do |date| %>
                <div class='cal-contents'>
                    <%= date.strftime("%m-%d")  %>
                    
                    <div class='diary'>
                        <% @diaries.each do |a| %>
                            <% if a.date === date %>
                                <%= link_to a.title, "/diaries/#{a.id}" %>
                            <% end %>
                        <% end %>
                    </div>
                    
                
                    
                </div>
            <% end %>
        </div>    
     
    
        <div class="pp container border-area">
            <!-- profile -->
            <div class='profile container border-area'>
                
                <!-- profile img -->
                <%= image_tag ("profile_img_default"), size: "128", class: "profile-img" %>
                
                <%= current_user.name %>
                <br>
                쓴 일기 수: <%= @num_d %>  //  읽은 책 : <%= @num_r %> 권
                
                <%= button_tag "My page" %>
                
            </div>
            
            <!-- plans -->
            <div class='planner container border-area'>
                this is planner section
            </div>
        </div>
    </div>   
    
<% end %>  

