<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav class="container d-flex justify-content-between ">
    <div class="p-2 bd-highlight">
      <%= link_to "home", home_main_path %>
      <br>
    </div>
    
    <div class="p-2 bd-highlight">
      <% if user_signed_in? %>
        <%= link_to "sign_out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "sign_up", new_user_registration_path %>
        <%= link_to "sign_in", new_user_session_path %>
      <% end %>
    </div>
    
    <div class="container">
      <% if user_signed_in? %>
          user_Email : <%= current_user.email %> 
          <br> 
          user_Name :<%= current_user.name %>
      <% else %>
          no user
      <% end %>  
    </div>  
    
  </nav>
  
  <div class='container' id='yield'>
    <%= yield %>
  </div>
  
  <footer class="container">
    developed by Dongha Yoon
  </footer>

</body>
</html>
